<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
      <pages validateRequest="false"/>
      <compilation debug="true" targetFramework="4.0" />
      <webServices>
        <protocols>
          <add name="HttpGet"/>
          <add name="HttpPost"/>
        </protocols>
      </webServices>
    </system.web>
  <connectionStrings>
    <!--
    <add name="SqlConnStr"  providerName="SQLService" connectionString="Server=.;Database=testUser;User Id=sa;Password=hunan393653149;pooling=true;min pool size = 1;max pool size=5" />
    -->
    <!-- SQLService,MySQLDB ,OracleDB -->
    <add name="SqlConnStr"  providerName="OracleDB" connectionString="Data Source =(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.18.40.15)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = orcl)));User Id=zygjk; Password=zygjk;pooling=true;min pool size = 1;max pool size=5;" />
  </connectionStrings>
</configuration>
